* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_3 {
  width: 100%;
  height: 1200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_4 {
  width: 380px;
  height: 600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 770px;
  overflow: hidden;
}
.v4_5 {
  width: 300px;
  height: 466px;
  background: url("../images/v4_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 40px;
  overflow: hidden;
}
.v4_6 {
  width: 187px;
  height: 58px;
  background: url("../images/v4_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_11 {
  width: 300px;
  height: 48px;
  background: url("../images/v4_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v4_12 {
  width: 244px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 13px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v4_13 {
  width: 93px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 132px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_14 {
  width: 300px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v4_15 {
  width: 268px;
  height: 18px;
  background: url("../images/v4_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 16px;
  overflow: hidden;
}
.v4_16 {
  width: 203px;
  color: rgba(170,170,170,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_17 {
  width: 48px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 211px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_18 {
  width: 300px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v4_19 {
  width: 268px;
  height: 18px;
  background: url("../images/v4_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 16px;
  overflow: hidden;
}
.v4_20 {
  width: 155px;
  color: rgba(170,170,170,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_29 {
  width: 300px;
  height: 50px;
  background: rgba(208,63,32,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v4_30 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 125px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v4_31 {
  width: 300px;
  height: 16px;
  background: url("../images/v4_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 39px;
  overflow: hidden;
}
.v4_32 {
  width: 96px;
  color: rgba(208,63,32,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_33 {
  width: 323px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 548px;
  left: 39px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
